 
 
* {
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  background-image: url(fundo.png);
  font-family: 'Open sans', sans-serif;
  font-size: 1.3em;
  text-shadow: 0.1em 0.15em black;
  color:  white;
  line-height: 1.5em;
  text-align: center;
}

h1 {
    text-shadow: 0.1em 0.15em black;
    color: rgba(255, 255, 255, 0.789);

}

.container {
  max-width: 640px;
  margin: 50px auto;
  background: rgba(0, 0, 0, 0.467);
  padding: 20px;
  border-radius: 10px;
}

form input, form label, form button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  
}

button {
     
    border-radius: 30px;
    border: 0,5px solid rgb(16, 16, 67);
    padding: 6px;
    background-color: #708090;
    color: white;
    text-shadow: 0.1em 0.15em black;
    font-weight: bold;
    font-style: oblique;

}

li {
    list-style:decimal;
    text-align: left;
    padding: 5px;
     
}

form input {
  font-size: 24px;
  height: 50px;
  padding: 0 20px;
  position: absolute;
  
}

input {
  border-radius: 30px;
  padding: 4px;
}

form input:focus {
  outline: 1px solid var(--primary-color);
}

form button {
  border: none;
  background: var(--primary-color);
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  height: 50px;
  cursor: pointer;
  margin-top: 30px;
}

form button:hover {
  background: var(--primary-color-darker);
}
